<nav [class]="sharedService.sideNavOpen() ? 'sidenav sidenav-open' : 'sidenav sidenav-closed'">
  <div class="sidenav-section">
    <ul class="nav-list">
      @for (item of mainLinks; track item.route) {
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="item.route" class="nav-link" (click)="closeMenu()">
          <dx-button [icon]="item.icon" stylingMode="text" class="nav-dx-icon"></dx-button>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </li>
      }
    </ul>
  </div>
  <div class="sidenav-bottom">
    <ul class="nav-list">
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="settingsRoute" class="nav-link" (click)="closeMenu()">
          <dx-button icon="preferences" stylingMode="text" class="nav-dx-icon"></dx-button>
          <span class="nav-label">settings</span>
        </a>
      </li>
    </ul>
  </div>
</nav>